@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin :0;
    font-weight: 400;
    background-color: #0A192F;
}

body{
    min-height: 100vh;
}
.text-center{
    text-align: center;
}


/* Navigation Bar */
.nav-container{
    padding: 1% 0%;
    font-size: 1.1rem;
}
.navigation-bar{
    margin: 0% 10%;
}
.navbar-item img{
    max-height: none;
}
.logo-img{
    height: 65px;
    margin-right: 5%;
}
.nav-title{
    font-size:1.85rem;
    font-weight: bold;
    color: #D7D7D7;;
}
a.item-nav{
    color: #D7D7D7;
}
a.item-nav:hover{
    background-color:inherit;
    color: #371AA1;
    font-weight: 600;
}
.navbar-burger{
    height: inherit;
}
.navbar-burger:hover{
    background-color: inherit;
}

/* Navigation Bar End*/

/* Banner Section  */
.banner-section{
    padding: 70px 10px 30px 10px;
    
}
.heading{
    font-size: 30px;  
    color: #D7D7D7;  
    font-weight: 700;
}
.subheading{
    line-height: 29px;
    text-align: left;
    color: #D7D7D7;
    font-size: 1.25rem;
}
.image-half{
    text-align: center;
}
.banner-image{
    width: 300px;
}
.card-section{
    padding: 70px 0px;
}
.card-feature{
    padding: 20px;
}
.feature-container{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-heading{
    color: #D7D7D7;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}
.feature-subheading{
    color: #D7D7D7;
    font-size: 14px;
    line-height: 22px;
}
/* Banner Section End */


/* Cards --> Start*/

.line-text{
    border-top: 1px white solid;
    text-align: center;
}
.text-with-line{
    transform: translateY(-33px);
    background-color: #0a192f;
    padding: 1rem;
    display: inline-block;
}
.card{
    margin: auto;
    box-shadow: -2px 1px 4px rgba(0,0,0,0.2), -3px 2px 12px rgba(0,0,0,0.1);
    width: 280px;
    height: 240px;
    background-color: #081529;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border-top-left-radius: 75px;
    border-right: 5px solid #3E1A9C;
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
    margin-bottom: 20px;
}

.card *{
    background-color: #081529;
}

.info{
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.img-container{
    min-width: 110px;
    max-width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #EFEFEF;
}

.img-container img{
    width: 100%;
    border-radius: 50%;
}

.name-container{
    margin-top: 24px;
    padding-left: 24px ;
    width: 100%;
}

.break{
    width: 80% ;
    border-top: 2px solid #EFEFEF;
    margin-top: 16px;
}

.social-links{
    padding: 16px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links a{
    font-size: 20px;
    color: #EFEFEF;
}