*{
    margin :0;
    font-weight: 400;
}

                    /* Navigation Bar */
.nav-container{
    padding: 0.5% 0%;
}
.navigation-bar{
    margin: 0% 10%;
}
.nav-title{
    font-size:1.5rem;
    font-weight: bold;
    color: black;
}
a.item-nav:hover{
    background-color:inherit;
    color:
}