*{
    margin :0;
    font-weight: 400;
    background-color: #0A192F;
}

                    /* Navigation Bar */
.nav-container{
    padding: 1% 0%;
    font-size: 1.1rem;
}
.navigation-bar{
    margin: 0% 10%;
}
.navbar-item img{
    max-height: none;
}
.logo-img{
    height: 65px;
    margin-right: 5%;
}
.nav-title{
    font-size:1.85rem;
    font-weight: bold;
    color: #D7D7D7;;
}
a.item-nav{
    color: #D7D7D7;
}
a.item-nav:hover{
    background-color:inherit;
    color: #371AA1;
    font-weight: 600;
}
.navbar-burger{
    height: inherit;
}
.navbar-burger:hover{
    background-color: inherit;
}

/* Navigation Bar End*/

/* Banner Section  */
.banner-section{
    padding: 70px 10px 10px 10px;
    
}
.heading{
    font-size: 30px;  
    color: #D7D7D7;  
    font-weight: 700;
}
.subheading{
    line-height: 29px;
    text-align: left;
    color: #D7D7D7;
    font-size: 1.25rem;
}
.image-half{
    text-align: center;
}
.banner-image{
    width: 300px;
}
.card-section{
    padding: 70px 0px;
}
.card-feature{
    padding: 20px;
}
.feature-container{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-heading{
    color: #D7D7D7;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}
.feature-subheading{
    color: #D7D7D7;
    font-size: 14px;
    line-height: 22px;
}
/* Banner Section End */

.new {
    background-color: #01122b;
    font-size: 30px;
    color: #D7D7D7;
    padding: 0px 15px 15px 15px;
}

.new p {
    padding: 15px 0px 0px 0px;
}

.bottom-icon {
    background-color: #01122b;
}